<div class="container text-center pt-5">
  <form method="post" id="form1" action="/delete"></form>

  <button type="submit" form="form1" class="btn btn-danger">Delete all notes</button>
</div>

<footer>
  <p>Copyright © <%= new Date().getFullYear() %> </p>
</footer>
  
</html>
  
  